node-red/miot-flow.json
[
    {
        "id": "a28660aec4ed2e79",
        "type": "mqtt in",
        "z": "8236f17f75ff22ef",
        "name": "Servo State",
        "topic": "miot/ir/servo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd79c52dfd597005",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "a055b8576dc38b87"
            ]
        ]
    },
    {
        "id": "dd79c52dfd597005",
        "type": "mqtt-broker",
        "name": "aa",
        "broker": "192.168.100.98",
        "port": "8883",
        "tls": "860fcbcd77462306",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "860fcbcd77462306",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "http-ir-control",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/ir",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 480,
        "wires": [["fn-ir-mapper"]]
    },
    {
        "id": "fn-ir-mapper",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Map IR Codes",
        "func": "const body = msg.payload || {};\nconst command = body.command || '';\n\nconst irCodes = {\n    'led1_toggle': '0x00FF30CF',\n    'led2_toggle': '0x00FF18E7',\n    'servo_180': '0x00FF02FD',\n    'servo_0': '0x00FF22DD'\n};\n\nif (!irCodes[command]) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Unknown IR command', available: Object.keys(irCodes) };\n    return [null, msg];\n}\n\nconst irMsg = {\n    topic: 'miot/ir/code',\n    payload: irCodes[command]\n};\n\nconst httpMsg = {\n    payload: {\n        ok: true,\n        command: command,\n        code: irCodes[command]\n    },\n    statusCode: 200\n};\n\nnode.status({fill:'blue',shape:'dot',text:command});\nreturn [irMsg, httpMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [["mqtt-ir-publish"],["http-ir-response"]]
    },
    {
        "id": "mqtt-ir-publish",
        "type": "mqtt out",
        "z": "8236f17f75ff22ef",
        "name": "Publish IR Code",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dd79c52dfd597005",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "http-ir-response",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "a055b8576dc38b87",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Cache Servo",
        "func": "const v = parseInt(msg.payload);\nif(!isNaN(v)) {\n    global.set('servo', v);\n    node.status({fill:'orange',shape:'dot',text:v+'°'});\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [[]]
    }
]