node-red/unified-flow.json
[
    {
        "id": "8236f17f75ff22ef",
        "type": "tab",
        "label": "MIoT REST API + Firestore + Dashboard",
        "disabled": false,
        "info": "Unified flow: MQTT sensors → Firestore, REST API endpoints, React UI support"
    },
    {
        "id": "02648d7fd1c3246a",
        "type": "mqtt in",
        "z": "8236f17f75ff22ef",
        "name": "Temperature",
        "topic": "miot/dht22/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd79c52dfd597005",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 60,
        "wires": [
            ["c6b043d94a77998e", "temp_to_firestore"]
        ]
    },
    {
        "id": "temp_to_firestore",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Temp History",
        "func": "const value = parseFloat(msg.payload);\nif (isNaN(value)) return null;\nconst projectId = \"miot-ae0e0\";\nconst apiKey = \"AIzaSyAmPPa7kG3xX1qYYjYLUNEmkD_m2Io0oMM\";\nconst collection = \"dht22_temperature\";\n\nmsg.payload = {\n    fields: {\n        type: { stringValue: \"temperature\" },\n        value: { doubleValue: value },\n        unit: { stringValue: \"°C\" },\n        timestamp: { timestampValue: new Date().toISOString() }\n    }\n};\n\nmsg.url = `https://firestore.googleapis.com/v1/projects/${projectId}/databases/(default)/documents/${collection}?key=${apiKey}`;\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 10,
        "wires": [
            ["temp_http"]
        ]
    },
    {
        "id": "temp_http",
        "type": "http request",
        "z": "8236f17f75ff22ef",
        "name": "POST Temp",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 10,
        "wires": [[]]
    },
    {
        "id": "c6b043d94a77998e",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Cache Temperature",
        "func": "const v = parseFloat(msg.payload);\nif(!isNaN(v)) {\n    global.set('temperature', v);\n    global.set('temp_timestamp', new Date().toISOString());\n    node.status({fill:'green',shape:'dot',text:v.toFixed(1)+'°C'});\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "a75f06886999611b",
        "type": "mqtt in",
        "z": "8236f17f75ff22ef",
        "name": "Humidity",
        "topic": "miot/dht22/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd79c52dfd597005",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            ["ada89a421e3bd5e0", "hum_to_firestore"]
        ]
    },
    {
        "id": "hum_to_firestore",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Hum History",
        "func": "const value = parseFloat(msg.payload);\nif (isNaN(value)) return null;\nconst projectId = \"miot-ae0e0\";\nconst apiKey = \"AIzaSyAmPPa7kG3xX1qYYjYLUNEmkD_m2Io0oMM\";\nconst collection = \"dht22_humidity\";\n\nmsg.payload = {\n    fields: {\n        type: { stringValue: \"humidity\" },\n        value: { doubleValue: value },\n        unit: { stringValue: \"%\" },\n        timestamp: { timestampValue: new Date().toISOString() }\n    }\n};\n\nmsg.url = `https://firestore.googleapis.com/v1/projects/${projectId}/databases/(default)/documents/${collection}?key=${apiKey}`;\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 70,
        "wires": [
            ["hum_http"]
        ]
    },
    {
        "id": "hum_http",
        "type": "http request",
        "z": "8236f17f75ff22ef",
        "name": "POST Hum",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 70,
        "wires": [[]]
    },
    {
        "id": "ada89a421e3bd5e0",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Cache Humidity",
        "func": "const v = parseFloat(msg.payload);\nif(!isNaN(v)) {\n    global.set('humidity', v);\n    global.set('humidity_timestamp', new Date().toISOString());\n    node.status({fill:'blue',shape:'dot',text:v.toFixed(0)+'%'});\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [[]]
    },
    {
        "id": "e19315ff13256810",
        "type": "mqtt in",
        "z": "8236f17f75ff22ef",
        "name": "Luminosity",
        "topic": "miot/ldr/raw",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd79c52dfd597005",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            ["73fceefbcafd6ed7"]
        ]
    },
    {
        "id": "73fceefbcafd6ed7",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Cache Luminosity",
        "func": "const v = parseInt(msg.payload);\nif(!isNaN(v)) {\n    global.set('luminosity', v);\n    global.set('luminosity_timestamp', new Date().toISOString());\n    node.status({fill:'yellow',shape:'dot',text:v+' lux'});\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "93d41bdc1c275085",
        "type": "mqtt in",
        "z": "8236f17f75ff22ef",
        "name": "LED1 State",
        "topic": "push/led1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd79c52dfd597005",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            ["d050248e65e2f9e6"]
        ]
    },
    {
        "id": "d050248e65e2f9e6",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Cache LED1",
        "func": "const state = String(msg.payload).toUpperCase();\nglobal.set('led1', state);\nnode.status({fill:state==='ON'?'green':'grey',shape:'dot',text:state});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "40307dacd5824809",
        "type": "mqtt in",
        "z": "8236f17f75ff22ef",
        "name": "LED2 State",
        "topic": "push/led2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd79c52dfd597005",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            ["3029c428882d470c"]
        ]
    },
    {
        "id": "3029c428882d470c",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Cache LED2",
        "func": "const state = String(msg.payload).toUpperCase();\nglobal.set('led2', state);\nnode.status({fill:state==='ON'?'green':'grey',shape:'dot',text:state});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "a28660aec4ed2e79",
        "type": "mqtt in",
        "z": "8236f17f75ff22ef",
        "name": "Servo State",
        "topic": "miot/ir/servo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd79c52dfd597005",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 360,
        "wires": [
            ["a055b8576dc38b87"]
        ]
    },
    {
        "id": "a055b8576dc38b87",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Cache Servo",
        "func": "const v = parseInt(msg.payload);\nif(!isNaN(v)) {\n    global.set('servo', v);\n    node.status({fill:'orange',shape:'dot',text:v+'°'});\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "e9b6a5b8f3c842cc",
        "type": "mqtt in",
        "z": "8236f17f75ff22ef",
        "name": "Auto Mode State",
        "topic": "push/auto_mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd79c52dfd597005",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 420,
        "wires": [
            ["1f3a4c7e2a6fbe45"]
        ]
    },
    {
        "id": "1f3a4c7e2a6fbe45",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Cache Auto Mode",
        "func": "const state = String(msg.payload).toUpperCase();\nglobal.set('auto_mode', state);\nnode.status({fill: state==='ON' ? 'green' : 'grey', shape:'dot', text: state});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [[]]
    },
    {
        "id": "ac913f9f45c6df54",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/sensors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 480,
        "wires": [
            ["a818e7537a62ef6a"]
        ]
    },
    {
        "id": "a818e7537a62ef6a",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Build Sensor Response",
        "func": "const temperature = global.get('temperature') || null;\nconst humidity = global.get('humidity') || null;\nconst luminosity = global.get('luminosity') || null;\n\nmsg.payload = {\n    temperature,\n    humidity,\n    luminosity,\n    timestamp: new Date().toISOString()\n};\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            ["d385fac247b105c3"]
        ]
    },
    {
        "id": "d385fac247b105c3",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "fe1554c22f9f3252",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/devices",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 560,
        "wires": [
            ["b3706134483fb8be"]
        ]
    },
    {
        "id": "b3706134483fb8be",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Build Devices Response",
        "func": "const led1 = global.get('led1') || 'OFF';\nconst led2 = global.get('led2') || 'OFF';\nconst servo = global.get('servo') || 90;\nconst autoMode = global.get('auto_mode') || 'OFF';\n\nmsg.payload = {\n    led1,\n    led2,\n    servo,\n    auto_mode: autoMode\n};\n\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 560,
        "wires": [
            ["4ed9e443a681d1ad"]
        ]
    },
    {
        "id": "4ed9e443a681d1ad",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 590,
        "y": 560,
        "wires": []
    },
    {
        "id": "d3fdaf770db99465",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 660,
        "wires": [
            ["da1aa5ed5847087b"]
        ]
    },
    {
        "id": "da1aa5ed5847087b",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Validate & Route",
        "func": "const body = msg.payload || {};\n\nif(!body.device || typeof body.action === 'undefined'){\n    msg.statusCode = 400;\n    msg.payload = { error: 'Missing device or action' };\n    msg.headers = {'Access-Control-Allow-Origin': '*'};\n    return [null, msg, null];\n}\n\nconst device = body.device;\nconst action = body.action;\nlet topic = '';\nlet mqttPayload = null;\n\nif(device === 'led1') {\n    topic = 'push/led1';\n    mqttPayload = String(action);\n} else if(device === 'led2') {\n    topic = 'push/led2';\n    mqttPayload = String(action);\n} else if(device === 'servo') {\n    topic = 'miot/ir/servo';\n    mqttPayload = Number(action);\n} else if(device === 'auto_mode') {\n    topic = 'push/auto_mode';\n    mqttPayload = String(action).toUpperCase();\n} else {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Unknown device: ' + device };\n    msg.headers = {'Access-Control-Allow-Origin': '*'};\n    return [null, msg, null];\n}\n\nconst timestamp = (new Date()).toISOString();\n\n// Prepare MQTT message\nconst mqttMsg = {\n    topic: topic,\n    payload: mqttPayload\n};\n\n// Prepare HTTP response\nconst httpMsg = {\n    payload: {\n        ok: true,\n        device: device,\n        action: action,\n        timestamp: timestamp\n    },\n    headers: {'Access-Control-Allow-Origin': '*'},\n    statusCode: 200\n};\n\n// Only log servo to Firestore (LEDs toggle only via IR)\nlet logMsg = null;\nif(device === 'servo') {\n    const prevState = global.get('servo');\n    logMsg = {\n        payload: {\n            fields: {\n                timestamp: { timestampValue: timestamp },\n                type: { stringValue: 'Servo' },\n                value: { stringValue: String(action) },\n                prevState: { stringValue: (prevState === undefined || prevState === null) ? '' : String(prevState) }\n            }\n        }\n    };\n}\n\nnode.status({fill:'green',shape:'dot',text:`${device}:${action}`});\n\nreturn [mqttMsg, httpMsg, logMsg];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 660,
        "wires": [
            ["88aed780adba5460"],
            ["abaf1460cf5d826e"],
            ["2d39c08273e09b97"]
        ]
    },
    {
        "id": "abaf1460cf5d826e",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "2d39c08273e09b97",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Control History",
        "func": "// Only process if logMsg has fields (servo from /api/control or LED/Servo from /api/ir)\nif (!msg.payload?.fields) return null;\n\nconst projectId = \"miot-ae0e0\";\nconst apiKey = \"AIzaSyAmPPa7kG3xX1qYYjYLUNEmkD_m2Io0oMM\";\nconst collection = \"dht22_states\";\n\nmsg.url = `https://firestore.googleapis.com/v1/projects/${projectId}/databases/(default)/documents/${collection}?key=${apiKey}`;\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 700,
        "wires": [
            ["control_http"]
        ]
    },
    {
        "id": "control_http",
        "type": "http request",
        "z": "8236f17f75ff22ef",
        "name": "POST Control to Firestore",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 700,
        "wires": [
            ["c5a53062698399d7"]
        ]
    },
    {
        "id": "c5a53062698399d7",
        "type": "debug",
        "z": "8236f17f75ff22ef",
        "name": "Firebase Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "3f1619bb925daebc",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/history",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 780,
        "wires": [
            ["7bbcd8c435f5f886"]
        ]
    },
    {
        "id": "7bbcd8c435f5f886",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Query States",
        "func": "const projectId = \"miot-ae0e0\";\nconst apiKey = \"AIzaSyAmPPa7kG3xX1qYYjYLUNEmkD_m2Io0oMM\";\nmsg.url = `https://firestore.googleapis.com/v1/projects/${projectId}/databases/(default)/documents:runQuery?key=${apiKey}`;\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = { structuredQuery: { from: [{ collectionId: \"dht22_states\" }], orderBy: [{ field: { fieldPath: \"timestamp\" }, direction: \"DESCENDING\" }], limit: 20 } };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 780,
        "wires": [
            ["history_request"]
        ]
    },
    {
        "id": "history_request",
        "type": "http request",
        "z": "8236f17f75ff22ef",
        "name": "GET States from Firestore",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 780,
        "wires": [
            ["format_history"]
        ]
    },
    {
        "id": "format_history",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Format History Response",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nconst docs = rows.filter(r => r.document).map(r => r.document);\nconst data = docs.map(doc => ({\n    type: doc.fields?.type?.stringValue,\n    value: doc.fields?.value?.stringValue || doc.fields?.value?.doubleValue || doc.fields?.value?.integerValue,\n    prevState: doc.fields?.prevState?.stringValue || doc.fields?.prevState?.doubleValue || doc.fields?.prevState?.integerValue,\n    timestamp: doc.fields?.timestamp?.timestampValue\n}));\n\nmsg.payload = data;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nmsg.statusCode = 200;\n\nnode.status({fill:'green',shape:'dot',text:data.length + ' records'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 780,
        "wires": [
            ["b55f811ac5789982"]
        ]
    },
    {
        "id": "b55f811ac5789982",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 590,
        "y": 780,
        "wires": []
    },
    {
        "id": "3a8d83a8b6dc0508",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/control",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 860,
        "wires": [
            ["a0ea6acfbda83499"]
        ]
    },
    {
        "id": "a0ea6acfbda83499",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "CORS Preflight",
        "func": "msg.statusCode = 200;\nmsg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type'\n};\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 860,
        "wires": [
            ["1f7b258b2ab23ef5"]
        ]
    },
    {
        "id": "1f7b258b2ab23ef5",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "bea454c12c9d02c9",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/ir",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 980,
        "wires": [
            ["d8759595b53636d5"]
        ]
    },
    {
        "id": "d8759595b53636d5",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Map IR Codes",
        "func": "const body = msg.payload || {};\nconst command = body.command || '';\n\nconst irCodes = {\n    'led1_toggle': '0x00FF30CF',\n    'led2_toggle': '0x00FF18E7',\n    'servo_180': '0x00FF02FD',\n    'servo_0': '0x00FF22DD'\n};\n\n// Capture current known states before sending IR so we can log the previous value\nconst currentStates = {\n    led1: (global.get('led1') || 'UNKNOWN'),\n    led2: (global.get('led2') || 'UNKNOWN'),\n    servo: global.get('servo')\n};\n\nif (!irCodes[command]) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Unknown IR command', available: Object.keys(irCodes) };\n    return [null, msg, null];\n}\n\nconst irMsg = {\n    topic: 'miot/ir/code',\n    payload: irCodes[command]\n};\n\nconst timestamp = (new Date()).toISOString();\n\n// Map IR commands to device types for Firestore logging\nlet deviceType = '';\nlet action = '';\nlet prevState = '';\nif (command === 'led1_toggle') { deviceType = 'LED1'; action = 'toggle'; prevState = currentStates.led1; }\nelse if (command === 'led2_toggle') { deviceType = 'LED2'; action = 'toggle'; prevState = currentStates.led2; }\nelse if (command === 'servo_180') { deviceType = 'Servo'; action = '180'; prevState = currentStates.servo; }\nelse if (command === 'servo_0') { deviceType = 'Servo'; action = '0'; prevState = currentStates.servo; }\n\nconst logMsg = {\n    payload: {\n        fields: {\n            timestamp: { timestampValue: timestamp },\n            type: { stringValue: deviceType },\n            value: { stringValue: action },\n            prevState: { stringValue: (prevState === undefined || prevState === null) ? '' : String(prevState) }\n        }\n    }\n};\n\nconst httpMsg = {\n    payload: {\n        ok: true,\n        command: command,\n        code: irCodes[command],\n        timestamp\n    },\n    statusCode: 200\n};\n\nnode.status({fill:'blue',shape:'dot',text:command});\nreturn [irMsg, httpMsg, logMsg];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 980,
        "wires": [
            ["88aed780adba5460"],
            ["25c7cf539fa80c08"],
            ["2d39c08273e09b97"]
        ]
    },
    {
        "id": "88aed780adba5460",
        "type": "mqtt out",
        "z": "8236f17f75ff22ef",
        "name": "Publish Control MQTT",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dd79c52dfd597005",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "25c7cf539fa80c08",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 1020,
        "wires": []
    },
    {
        "id": "dd79c52dfd597005",
        "type": "mqtt-broker",
        "name": "aa",
        "broker": "192.168.100.98",
        "port": "8883",
        "tls": "860fcbcd77462306",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "860fcbcd77462306",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "voice_cors_preflight",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/voice",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1050,
        "wires": [
            ["voice_cors_response"]
        ]
    },
    {
        "id": "voice_cors_response",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Voice CORS Preflight",
        "func": "msg.statusCode = 200;\nmsg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type'\n};\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1050,
        "wires": [
            ["voice_cors_http_response"]
        ]
    },
    {
        "id": "voice_cors_http_response",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 1050,
        "wires": []
    },
    {
        "id": "voice_http_in",
        "type": "http in",
        "z": "8236f17f75ff22ef",
        "name": "",
        "url": "/api/voice",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1100,
        "wires": [
            ["voice_json"]
        ]
    },
    {
        "id": "voice_json",
        "type": "json",
        "z": "8236f17f75ff22ef",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 300,
        "y": 1100,
        "wires": [
            ["parse_grok"]
        ]
    },
    {
        "id": "parse_grok",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Parse Intent (Local)",
        "func": "let body = msg.payload;\n\n// Some deployments auto-parse JSON in HTTP In; others leave it a string. Normalize.\nif (typeof body === 'string') {\n    try {\n        body = JSON.parse(body);\n    } catch (e) {\n        body = { text: body };\n    }\n}\n\nconst text = (body?.text || '').toLowerCase();\n\nconst makeError = (statusCode, payload) => [null, { statusCode, headers: { 'Access-Control-Allow-Origin': '*' }, payload }];\n\nif (!text) {\n    return makeError(400, { error: 'No text provided' });\n}\n\nlet device = null;\nlet action = null;\n\nconst has = (w) => text.includes(w);\n\n// Auto mode\nif (has('auto')) {\n    device = 'auto_mode';\n    if (has('off') || has('disable') || has('stop')) action = 'off';\n    else if (has('on') || has('enable') || has('start')) action = 'on';\n    else action = 'on';\n}\n\n// Lights\nif (!device && (has('light') || has('led'))) {\n    if (has('1') || has('one') || has('first')) device = 'led1';\n    else if (has('2') || has('two') || has('second')) device = 'led2';\n    else device = 'led1';\n    if (has('off')) action = 'off';\n    else if (has('on')) action = 'on';\n    else action = 'toggle';\n}\n\n// Servo / blinds\nif (!device && (has('servo') || has('blind') || has('curtain') || has('door'))) {\n    device = 'servo';\n    if (has('close') || has('down') || has('zero') || has('0')) action = '0';\n    else if (has('open') || has('up') || has('one eighty') || has('180')) action = '180';\n    else action = '180';\n}\n\nif (!device || !action) {\n    return makeError(400, { error: 'Could not understand command', text });\n}\n\nconst commands = {\n    'led1_on': 'led1_toggle',\n    'led1_off': 'led1_toggle',\n    'led1_toggle': 'led1_toggle',\n    'led2_on': 'led2_toggle',\n    'led2_off': 'led2_toggle',\n    'led2_toggle': 'led2_toggle',\n    'servo_180': 'servo_180',\n    'servo_0': 'servo_0',\n    'servo_close': 'servo_0',\n    'servo_open': 'servo_180',\n    'auto_mode_on': 'auto_mode_on',\n    'auto_mode_off': 'auto_mode_off'\n};\n\nconst key = `${device}_${action}`.toLowerCase();\nconst command = commands[key];\n\nif (!command) {\n    return makeError(400, { error: 'Unknown device/action combination', intent: { device, action }, text });\n}\n\nmsg.intent = { device, action };\nmsg.command = command;\nmsg.statusCode = 200;\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1100,
        "wires": [
            ["send_voice_command"],
            ["voice_http_response"]
        ]
    },
    {
        "id": "send_voice_command",
        "type": "function",
        "z": "8236f17f75ff22ef",
        "name": "Send Voice Command",
        "func": "const command = msg.command;\nconst intent = msg.intent;\nconst text = msg.payload?.text || '';\nconst timestamp = (new Date()).toISOString();\n\n// Map to IR codes or MQTT commands\nconst irCodes = {\n    'led1_toggle': '0x00FF30CF',\n    'led2_toggle': '0x00FF18E7',\n    'servo_180': '0x00FF02FD',\n    'servo_0': '0x00FF22DD'\n};\n\nlet mqttMsg = null;\nlet httpResponse = { ok: true, command, intent };\nlet logMsg = null;\n\nif (irCodes[command]) {\n    // Send IR command\n    mqttMsg = {\n        topic: 'miot/ir/code',\n        payload: irCodes[command]\n    };\n    httpResponse.type = 'ir';\n} else if (command.startsWith('auto_mode_')) {\n    // Send MQTT auto_mode command\n    const action = command === 'auto_mode_on' ? 'ON' : 'OFF';\n    mqttMsg = {\n        topic: 'push/auto_mode',\n        payload: action\n    };\n    httpResponse.type = 'auto_mode';\n}\n\n// Log voice command to Firestore\nlogMsg = {\n    payload: {\n        fields: {\n            timestamp: { timestampValue: timestamp },\n            type: { stringValue: 'Voice Command' },\n            text: { stringValue: text },\n            device: { stringValue: intent.device },\n            action: { stringValue: intent.action },\n            command: { stringValue: command }\n        }\n    }\n};\n\nreturn [mqttMsg, { payload: httpResponse, statusCode: 200, headers: { 'Access-Control-Allow-Origin': '*' } }, logMsg];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1100,
        "wires": [
            ["voice_mqtt_out"],
            ["voice_http_response"],
            ["2d39c08273e09b97"]
        ]
    },
    {
        "id": "voice_mqtt_out",
        "type": "mqtt out",
        "z": "8236f17f75ff22ef",
        "name": "Publish Voice IR",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dd79c52dfd597005",
        "x": 1300,
        "y": 1060,
        "wires": []
    },
    {
        "id": "voice_http_response",
        "type": "http response",
        "z": "8236f17f75ff22ef",
        "name": "",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
        },
        "x": 1300,
        "y": 1140,
        "wires": []
    }
]
